{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promotions Home</title>
    <link rel="stylesheet" href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickjs/slick.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickjs/slick-theme.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'views/home/home.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" style="margin-bottom: 0;border-radius: 0;">
        <div class="container scontainer-fluid" style="padding-left: 40px; padding-right: 40px;">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">cPromociones</a>
            </div>
            <div class="navbar-right" id="" style="padding-right: 10px;">
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
                    <li id="li-register" style="display: none;">
                        <a id="btn-register" href="#">Registrar</a>
                    </li>
                    <li id="li-welcome" style="display: none;">
                        Bienvenido
                    </li>
                    <li id="li-username" style="display: none;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    style="background-color: transparent; color: #FFFFFF;">
                                <span class="btn-username"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Menu de usuario:</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="localhost:8000/profile/">Profile</a></li>
                                <li><a href="#">Promociones</a></li>
                                <li><a href="#">Categorías</a></li>
                                <li role="separator" class="divider"></li>
                                <li style="padding: 10px;">
                                    <button id="btn-logout" class="btn btn-danger btn-block" type="submit">Sing out <i
                                            class="fas fa-sign-out-alt"></i></button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="li-login" style="display: none;">
                        <div class="dropdown" style="padding-top: 8px;">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Login
                                <web></web>
                                <span class="caret"></span>
                            </button>
                            <ul id="login-btn" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <form>
                                        <div class="form-group">
                                            <label for="loginEmail">Username:</label>
                                            <input type="email" class="form-control" id="login-username"
                                                   placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="loginPassword">Password</label>
                                            <input type="password" class="form-control" id="login-password"
                                                   placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6" style="margin-top: -10px; padding-left: 0;">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right; padding-right: 0;">
                                                <a href="#" id="lost-password">Lost your password?</a>
                                            </div>
                                        </div>
                                        <hr style="clear: both;margin-top: 54px; margin-bottom: 20px;">
                                        <div class="form-group">
                                            <div class="col-sm-offset-4 col-sm-8" style="padding-right: 0">
                                                <button id="login-promotion" type="submit"
                                                        class="btn btn-default btn-block">Ingresar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header-slide">
        <div id="header-slick" class="container">

        </div>
    </div>
</header>
<nav>
    <div class="slider-docks"></div>
</nav>
<article class="title-page">
    <div class="continer-title-page container">
        <h2 style="margin-top: 0; text-align: center;"> CPromotion Icreíbles Promociones </h2>
        <p style="padding-top: 25px; text-align: center; font-size: 14px;">Cpromotion es una página web que te permitirá
            encontrar las mejores promciones de tu ciudad a un solo click, busca por categorías y por ciudades de
            Colombia para encontrar la promocion en tus artículos deseados.</p>
        <div class="filters row">
            <div class="col-md-offset-2 col-md-4">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Ciudad <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-cities"></ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control input-cities" aria-label="...">
                </div><!-- /input-group -->
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Categoría <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-category">
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control input-category" aria-label="...">
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="container" style="margin-left: -11px;">
            <hr style="margin: 40px; border-top: 1px solid #e0e0e0;">
        </div>
        <section class="container">
            <div class="promotion-container">
                <div class="promotions">
                    <div class="promotion-row row container"></div>
                </div>
            </div>
            <div class="pagination" style="text-align: center; padding: 0 20px; width: 100%;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="li-arrow arrow-left">
                            <a class="arrow-number" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="li-arrow arrow-right">
                            <a class="arrow-number" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</article>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 style="font-weight: bold;margin-top: -5px;">Titulo</h3>
                <p>Information</p>
                <p>Find here</p>
                <p>Last Promotion</p>
                <p>Category</p>
                <p>City</p>
            </div>
            <div class="col-md-4" style="text-align: center">
                <p>cPromotion - Bogotá | 2018 | All rights reserved</p>
                <p>Street 21 Ave 24A - 73</p>
                <p>cpromotion@email.com</p>
            </div>
            <div class="col-md-4" style="text-align: right;margin-top: -5px;">
                <h3 style="font-weight: bold" ;>Social links</h3>
                <p><i class="fab fa-facebook-square"></i> facebook/asdasdasd </p>
                <p><i class="fab fa-youtube"></i> youtube/asdasdsa</p>
                <p><i class="fab fa-twitter"></i> twitter/asdasdasd</p>
                <p><i class="fab fa-linkedin"></i> linkedin/asdasdsa</p>
            </div>
        </div>
    </div>
</footer>
<article id="modal-promotion">
    <div class='modal fade modal-box' data-backdrop='static' data-keyboard='false' tabindex='-1' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                        <h4 id='modal-promo-name' class='modal-title' data-id=""></h4>
                </div>
                <div class='modal-body'>
                    <div class='panel panel-default'>
                        <div class='panel-body'>
                            <div class='row'>
                                <div class='col-md-6'>
                                    <div class='img-modal-promotion'>
                                        <img src="" alt='Smiley face' height='42' width='42'>
                                    </div>
                                </div>
                                <div class='col-md-6'>
                                    <div class='panel panel-default' style='background-color: #efefef;'>
                                        <div class='panel-body'>
                                            <div class='promo-detail'><h4>Detalle de la promoción</h4></div>
                                            <hr style='margin: 5px 0; border-top: 1px solid #c3c3c3;'>
                                            <div class='promo-cost row'>
                                                <div class='col-md-4'><b>Valor:</b></div>
                                                <div class='col-md-8 modal-field-cost'></div>
                                            </div>
                                            <div class='promo-city row'>
                                                <div class='col-md-4'><b>ciudad:</b></div>
                                                <div class='col-md-8 modal-field-city'></div>
                                            </div>
                                            <div class='promo-cost row'>
                                                <div class='col-md-4'><b>Finaliza:</b></div>
                                                <div class='col-md-8 modal-field-end-date'></div>
                                            </div>
                                            <hr style='margin: 5px 0; border-top: 1px solid #c3c3c3;'>
                                            <div class='promo-description'><b>Descripción:</b>
                                                <div class='text-promo-description'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class='row' style='background-color: #efefef; margin: 0;'>
                        <div class='col-md-3'>
                            <div class='promo-category'></div>
                        </div>
                        <div class='col-md-1' style='width:24px'> | </div>
                        <div class='col-md-1'>
                            <a href+'#' class='promo-favoritos'><i class='fas fa-thumbs-up'></i> like</a>
                        </div>
                        <div class='col-md-1' style='width:24px'> | </div>
                        "<div class='col-md-6'></div>
                    </div>
                    <hr>
                    <div class='promo-message-tittle'><h4>Agrega un comentario:</h4></div>
                    <div class='panel panel-default' style='background-color: #efefef;'>
                        <div class='panel-body'>
                            <div class='alert alert-danger alert-logged-messsage' role='alert'><b>Hola!</b> Ingresa al sistema para poder agregar un mensaje.</div>
                            <form>
                                <div class='email-message'>
                                    <div class='input-group'>
                                        <span class='input-group-addon' id='basic-addon1'><i class='fas fa-envelope'></i> Email</span>
                                        <input id='email-message' type='email' class='form-control' placeholder='Email' aria-describedby='basic-addon1'>
                                    </div>
                                </div>
                                <div class='text-message'>
                                    <textarea id='text-message' class='form-control' rows='3'></textarea>
                                </div>
                                <div class='div-send-commit'>
                                    <button id='btn-send-commit' type='submit' class='btn btn-primary'>Comentar!</button>
                                </div>
                            </form>
                            <hr style='border-top: 1px solid #c3c3c3;'>
                            <div class='promo-message-added'><h5>Mensajes agregados:</h5></div>
                            <div class='panel panel-default'>
                                <div id='created-message' class='panel-body'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-default close-modal' data-dismiss='modal'>Close</button>
                </div>
            </div>
        </div>
    </div>
</article>
<article id="modal-register">
    <div class="modal fade modal-register" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title"><b>Registro de usuarios</b></h3>
                    </div>
                    <div class="modal-body">
                        <p>Completa los siguientes campos para guardar tu registro:</p>
                        <hr>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Nombre:</label>
                                            <input type="text" class="form-control" id="register-name"
                                                   placeholder="Su nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Apellidos:</label>
                                            <input type="text" class="form-control" id="register-last-name"
                                                   placeholder="Sus Apellidos">
                                        </div>
                                        <div class="form-group">
                                            <label for="pais">Pais:</label>
                                            <input type="text" class="form-control" id="register-country"
                                                   placeholder="País de residencia">
                                        </div>
                                        <div class="form-group">
                                            <label for="ciudad">Ciudad:</label>
                                            <input type="text" class="form-control" id="register-city"
                                                   placeholder="Ciudad de residencia">
                                        </div>
                                        <div class="form-group">
                                            <label for="direccion">Dirección de correspondencia:</label>
                                            <input type="text" class="form-control" id="register-address"
                                                   placeholder="Dirección de correspondencia">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" class="form-control" id="register-username"
                                                   placeholder="Nombre de usuario">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Contraseña:</label>
                                            <input type="password" class="form-control" id="register-password"
                                                   placeholder="Contraseña">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirmar contraseña:</label>
                                            <input type="password" class="form-control" id="register-confirm-password"
                                                   placeholder="Confirmar contraseña">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">email:</label>
                                            <input type="email" class="form-control" id="register-email"
                                                   placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="categorias">Categorías:</label>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div id="register-category" class="row"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="send-register" type="submit" class="btn btn-primary">Registrarme</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</article>

<script src="{% static 'dist/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'dist/cookiejs/js.cookie.min.js' %}"></script>
<script src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/slickjs/slick.min.js' %}"></script>
<script>FontAwesomeConfig = { searchPseudoElements: true };</script>
<script defer  src="{% static 'dist/fontawesome/js/fontawesome-all.min.js' %}"></script>
<script data-main="{% static 'views/home/main.js' %}" src="{% static 'dist/requirejs/require.js' %}"></script>
<script>
    require.config({
        urlArgs: "bust=v2"
    });
</script>
</body>
</html>